*-api-key.txt
*.exe
NO$*
*.sym
*.fasl
*.appimage
*.lnk
*.gba
*.nds
*.sav
*.ss*
*disasm.txt
gba_bios.bin

/**/
!/text-dumps/
!/text-dumps/rom.txt
!/text-dumps/gerb.txt
!/tools/
!/tools/*
!/agent-tools/
!/agent-tools/*
!/research/
!/research/*
!/sprite-dump/
!/sprite-dump/**
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
__pycache__/
*.pyc
/dist/
